.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  top: 0px;
  position: relative;
  overflow: hidden;
}

.header__left {
  flex: 0 0 40%;
  position: relative;
}

.header__right {
  width: 100%;
}

.header__right > :first-child {
  align-self: flex-start;
}

.header__navbar {
  position: absolute;
  z-index: 1;
}

.header__right ul {
  height: 100vh;
  width: 120%;
  overflow: auto;
}

.header__right li {
  color: white;
  list-style-type: none;
  padding: 20px 10px;
  background: rgba(8, 53, 72, 0.9);
}

.header__right li:last-child {
  border-bottom: none;
}

.header__right li:hover {
  background: #0e85a5;
}

.header__right li:nth-child(even) {
  background: #15161a;
}

.header__right li:nth-child(even):hover {
  background: #0e85a5;
}